@charset "UTF-8";

@font-face {
    font-family: 'aspace';
    src: url('../fontes/A-Space\ Regular\ Demo.otf') format('opentype');
}

@font-face {
    font-family: 'spaceage';
    src: url('../fontes/space\ age.ttf') format('truetype');
}

:root {
    --cor0: #8EACBF;
    --cor1: #4C6C73;
    --cor2: #183940;
    --cor3: #0B1C26;
    --cor4: #0B1726;
    --fonte0: 'aspace', helvetica, sans-serif;
    --fonte1: 'spaceage', helvetica, sans-serif;
    --fonte2:  Verdana, Geneva, Tahoma, sans-serif;
} 

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    background-image: url('../imagens/universo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 30px;
}

header {
    background-color:var(--cor0);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1));
    color: var(--cor0);
    margin: auto;
    padding: 30px 0px;
    border-radius: 15px 15px 0px 0px;
    max-width: 75vw;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

header #principal {
    font-family:var(--fonte1);
    font-size: 7vw;
    font-weight: lighter;
    padding: 10px;
}

header > p {
    font-size: 1.5em;
}

nav {
    background-color: var(--cor2);
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
    margin: auto;
    max-width: 75vw;
    font-family: var(--fonte2);
    font-weight: bold;
    font-size: 1em;
}

nav a {
    padding: 5px;
    text-decoration: none;
    color: var(--cor4);
    border-radius: 10px;
}

nav a:hover {
    background-color: var(--cor4);
    color: var(--cor0);
}

main {
    background-color: var(--cor0);
    background-image: linear-gradient( to top, var(--cor1), var(--cor0));
    margin: auto;
    padding-top: 20px;
    justify-content: center;
    max-width: 75vw;
    border-radius: 0px 0px 15px 15px;
}

.titulos {
    font-family: var(--fonte0);
    color: var(--cor3);
    padding: 0px 0px 5px 10px;
}

.texto {
    font-family: var(--fonte2);
    font-size: 0.9em;
    padding: 10px;
    justify-content: baseline;
}

.imagem {
    display: block;
    margin: auto;
    max-width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
    
}

div.video {
    display: block;
    position: relative;
    max-width: 95%;
    margin: auto;
    padding-bottom: 20px;
}

div > iframe {
    display: block;
    position: relative;
    max-width: 100%;
    margin: auto;
}

aside {
    padding-bottom: 10px;
}

aside > p {
    background-color: var(--cor4);
    color: var(--cor1);
    width: max-content;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    font-family: var(--fonte2);
    font-weight: bold;
}
aside ul {
    list-style: inside;
    padding-left: 5px;
}

ul > li > a {
    color: var(--cor4);
    text-decoration: none;
}

ul > li > a:hover {
    background-color: var(--cor4);
    color: var(--cor0);
    border-radius: 10px;
    padding: 5px;
}

footer {
    background-color: var(--cor4);
    text-align: center;
    margin-top: 10px;
}

footer p {
    color: var(--cor1);
    padding: 5px;
}

footer a {
    color: var(--cor0);
    text-decoration: none;
    padding: 5px;
}

footer a:hover {
    background-color: var(--cor0);
    color: var(--cor4);
    border-radius: 10px;
}